h1 {
    text-align:left; 
    padding-left: 50px;
    padding-bottom: 30px;
}

@font-face{
    font-family:'Freesentation-4Regular'; /*글꼴*/
    src: local('Freesentation-4Regular'),
        url('Freesentation-4Regular.eot'),
        url('Freesentation-4Regular.woff') format('woff'),
        url('Freesentation-4Regular.ttf') format('truetype');
}

@font-face{
    font-family:'Freesentation-7Bold'; /*글꼴*/
    src: local('Freesentation-7Bold'),
        url('Freesentation-7Bold.eot'),
        url('Freesentation-7Bold.woff') format('woff'),
        url('Freesentation-7Bold.ttf') format('truetype');
}


#searchQuery{
    font-family: 'Freesentation-7Bold', sans-serif;/*웹 폰트 지정*/
    font-size: 4em;
    margin-left: 50px;

}

main .first {
    display: inline-block;
}

main .m {
    padding-left: 50px;
}

main .s {
    position:absolute;
    padding-left: 50px;
}

main .s h3 {
    font-family: 'Freesentation-7Bold', sans-serif;/*웹 폰트 지정*/
    font-size:25px;
    padding-left: 50px;
}

#map {
    border:1px solid #303030;
}

main .s ul li {
    margin-bottom: 10px;
    font-size: 20px;
    color:#333;
}

.first.s ul li a { /* 상단 리스트*/
    font-family: 'Freesentation-4Regular', sans-serif;/*웹 폰트 지정*/
    color:#333;
    font-size: 20px;
    text-decoration-line: none;
}

.first.s ul li::marker { /* 상단 리스트 점들.. */
    content:"👉 ";
   
}

main form button {
    margin-top: 50px; 
    margin-left: 50px; 
    margin-bottom: 40px;
}

main form .naver_button{
    font-size: 23px;
    font-family: 'Freesentation-4Regular', sans-serif;/*웹 폰트 지정*/
    background:  linear-gradient(to top, #0BC904, white);
    border:1px solid #303030;
    border-radius: 25px;
    width: 160px; height: 60px;
}

main form .google_button{
    font-size: 23px;
    font-family: 'Freesentation-4Regular', sans-serif;/*웹 폰트 지정*/
    background: linear-gradient(to top,#ea4335,white);
    border:1px solid #303030;
    border-radius: 25px;
    width: 160px; height: 60px;
}

main form .kakao_button{
    font-size: 23px;
    font-family: 'Freesentation-4Regular', sans-serif;/*웹 폰트 지정*/
    background: linear-gradient(to top,#ffcd01,white);
    border: 1px solid #303030;
    border-radius: 25px;
    width: 160px; height: 60px;
}

#average-rating {
    margin-top: 50px;
    margin-bottom: 60px;
}

/* 이미지 결과 스타일 */
#image-results {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background-color: white;
    margin-left: 40px;
}

.photos-container {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
}

.photos-container::-webkit-scrollbar {
    height: 8px;
}

.photos-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

.place-photo {
    height: 150px;
    width: auto;
    margin-right: 10px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

#reviews-list{
    margin-left: 10px;
    margin-top:10px;
}

#reviews-list p {
    font-family: 'Freesentation-4Regular', sans-serif;/*웹 폰트 지정*/
    font-size: 20px;
    color:rgb(53, 53, 53);
    margin-bottom: 50px;
}

#reviews-list a {
    font-family: 'Freesentation-7Bold', sans-serif;/*웹 폰트 지정*/
    font-size: 23px;
    color:black;
    text-decoration-line: none;
}

#reviews-list li::marker{
    content: "📌 ";
}


/* 스크롤바 스타일링 */
.photos-container::-webkit-scrollbar {
    height: 8px;  /* 가로 스크롤바 높이 */
}

.photos-container::-webkit-scrollbar-thumb {
    background-color: #888;  /* 스크롤바 색상 */
    border-radius: 10px;  /* 스크롤바 둥글게 */
}

.photos-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;  /* 스크롤바 배경색 */
}

#average-rating {
    font-family: 'Freesentation-7Bold', sans-serif;/*웹 폰트 지정*/
    margin-top: 30px;  /* 사진과 별점 사이에 여백 */
    margin-left: 50px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;  /* 필요 시 정렬 조정 가능 */
}

main ul li {
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    color:#333;
}

.container {
    width: 360px;
}


footer {
    color:#333; text-align: center; 
    font-size: 0.85rem; margin-top: 200px;
}